/* Clear formatting*/

body {
  /*border: 1px solid red;*/

}

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  background-color: white;
}

.box p {
  color: MediumAquamarine;
  font-style: italic;
  text-align: center;
  margin-left:10px;
}

.box img {
  vertical-align: middle;
}


ul {
  padding-right: 40px;
}

a {
  color: black;
}

.container nav li {
  display: inline-block;
  width: 65px;
  text-align: center;
}

.article p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.article h2{
    margin-top: 0px;
}


.main {
  display: flex;
  justify-content: space-around;
  padding-top: 75px;
}


.artimg p {
  display: flex; !important
  width: auto;
  height: 300px;
  align-items: center;
}

.bkgimg1 {
  background-image: url("../../resources/images/img-story-main.png");

}

.bkgimg2 {
  background-image: url("../../resources/images/img-story-2.png");
  width: 300px;
}

.bkgimg3 {
  background-image: url("../../resources/images/img-story-3.png");
  width: 300px;
}

.bkgimg4 {
  background-image: url("../../resources/images/img-story-1.png");
}

#header1 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;

}

#header {
font-family: Georgia;
font-weight: bold;
font-size: 30px;
color: white;
text-align: center;
width: auto;
}

.column {
  display: flex;
}

.column .large {
  display: flex;
  width: 630px;
  flex-direction: column;
}

.large2 {
  display: flex;
  flex-direction: row;
}

.article4 {
  display: flex;
  flex-direction:column;
  margin: 0px;
}

.article4 li {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  list-style-type: none;
  padding: 10px 10px 10px 10px;
}

.article4 ul{
  padding: 0px 20px 0px 20px;
}

.article4 h3{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}


.column .medium {
    width: 300px;
    margin-top:40px;
}

.column .small {
    width: 240px;
    margin-top:40px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  height: 350px;
  align-items: center;
  flex-direction: column;
}

.firstrow {
  display:flex;
  /*align-items: center;*/
}

.secondrow p {
  display:flex;
}

.footer .firstrow p {
  border-right: 2px solid white;
  padding-right: 18px;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.footer nav li {
  display: inline-block;
  padding: 10px;
}
