body {
  /*border: 1px solid red;*/

}

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}

p img {
  font-style: italic;
  vertical-align: middle;
  padding: 20px;


}

.box p {
  color: MediumAquamarine;
  border: 1px solid black
}

ul {
  padding-right: 40px;
}

a{
  color: black;
}

nav li {
  display: inline-block;
  width: 65px;
  text-align: center;
  border: 1px solid red;

}

.article p {
  border: 1px solid black;
}

.main {
  display: flex;
  border: 1px solid red;
  justify-content: space-around;
}

.article {

}

.column {
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

.column .large {
  width: 630px;
}

.column .medium {
    width: 300px;
}

.column .small {
    width: 240px;
}
