body {
  /*border: 1px solid red;*/

}

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}

p img {
  font-style: italic;
  vertical-align: middle;
  padding: 20px;


}

.box p {
  color: MediumAquamarine;
  border: 1px solid black
}

ul {
  padding-right: 40px;
}

a {
  color: black;
}

nav li {
  display: inline-block;
  width: 65px;
  text-align: center;
  border: 1px solid red;

}

.article p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.main {
  display: flex;
  border: 1px solid red;
  justify-content: space-around;
}


.artimg p {
  display: flex; !important
  width: auto;
  height: 300px;
}

.bkgimg1 {
  background-image: url("../../resources/images/img-story-main.png");

}

.bkgimg2 {
  background-image: url("../../resources/images/img-story-2.png");
  width: 280px;
}

.bkgimg3 {
  background-image: url("../../resources/images/img-story-3.png");
}

.bkgimg4 {
  background-image: url("../../resources/images/img-story-1.png");
}

#header1 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

#header {
font-family: Georgia;
font-weight: bold;
font-size: 30px;
color: white;
width: 210px;
text-align: center;
width: auto;
}



.column {
  display: flex;
  border: 1px solid black;
}

.column .large {
  display: flex;
  width: 630px;
  flex-direction: column;


}

.large2 {
  display: flex;
  flex-direction: row;
}



.column .medium {
    width: 300px;
}

.column .small {
    width: 240px;
}

.article2 {

}
